/*********************
*** basic elements ***
*********************/
* {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}
/*********************
*** basic settings ***
*********************/
.test-style {
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  color: #66ccff;
  color: #297aa3;
  color: #70b8db;
  color: #f5854d;
  color: #ff9966;
  color: #a35229;
  color: #db9470;
  color: #a14df5;
  color: #b366ff;
  color: #6629a3;
  color: #a670db;
}
body {
  background-color: #ffffee;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #1171a3;
}
/******************
*** page-header ***
******************/
.page-header {
  text-align: center;
}
/*******************
*** navbar-brand ***
*******************/
.navbar-brand {
  padding: 0.2em 0.5em;
}
/*************
*** topbar ***
*************/
#topbar {
  margin-bottom: 0;
}
#topbar .topbar-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}
#topbar .topbar-left {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  #topbar .topbar-left {
    float: left;
    width: 58.33333333%;
  }
}
#topbar .topbar-right {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0 0.5em;
}
@media (min-width: 992px) {
  #topbar .topbar-right {
    float: left;
    width: 41.66666667%;
  }
}
/*************
*** navbar ***
*************/
#navbar {
  border: 2px solid #1171a3;
}
#navbar ul li > a {
  font-size: large;
}
#navbar ul li > a:hover {
  /* Yandex Maps background color*/
  background-color: #f3efd2;
}
#navbar ul li.active > a {
  color: #ffffee;
  background-color: #1171a3;
}
/************
*** flags ***
************/
#flags {
  margin: 0.65em 0 0 0.5em;
}
#flags input:focus {
  outline: 0;
}
/******************
*** menu-border ***
******************/
#menu-border {
  border-color: #1171a3;
}
/**************
*** sidebar ***
**************/
#sidebar {
  margin: 1em 0;
}
#content .page-header {
  margin: 1em 0;
}
#footer {
  text-align: center;
}
/******************
*** yandex maps ***
******************/
.map {
  position: relative;
  padding-bottom: 38.19660113%;
  /* golden ratio 1.61803398875 */
  overflow: hidden;
  margin-top: 1.5em;
}
.map iframe,
.map #prolaim-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
